@Html.Partial("header.cshtml")

<!-- Check if these forms are palidromes -->
<form action="/result" method="post">
  <label for="palindrome">Is is a palidrome?</label><input type="text" name="palindrome">
  <input type="submit" name="submit">
</form>
